
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #333;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.slider {
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin: 20px auto;
}

.slider img {
    width: 100%;
    max-width: 600px;
    display: none;
}

.slider img:first-child {
    display: block;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.grid-item {
    background-color: #f4a261;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.grid-item img {
    display: block;
    margin: 10px auto;
    width: 150px; /* Ajusta el tamaño */
    height: auto;
    border-radius: 10px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.flex-item {
    background-color: #2a9d8f;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-item img {
    margin-top: 10px;
    width: 150px;
    height: auto;
    border-radius: 10px;
}
.page-1 { background-color: #e76f51; }
.page-2 { background-color: #264653; }
.page-3 { background-color: #654dee; }
.page-4 { background-color: #2a9d8f; }
.page-5 { background-color: #e9c46a; }

footer {
    background-color: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 1023px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .menu {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        flex-direction: column;
        text-align: center;
    }
}
